@import url('utilities.css');
:root{
    --primary: #edff00;
    --dark: #161616;
    --pure: #ffffff;
    --ternary: #898989;
    --light: #f2f2f2;
    --secondary: #070606;
}
body{
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --webkit-font-smoothing: antialiased;
}
header{
    background: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 87%, 0 100%);
}
.container{
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}

@media (min-width:576px){
    .container{
        max-width: 540px;
    }
}

@media (min-width:768px){
    .container{
        max-width: 720px;
    }
}

@media (min-width:992px){
    .container{
        max-width: 960px;
    }
}
@media (min-width:1200px){
    .container{
        max-width: 1152px;
    }
}



header nav .left a{
    color: var(--pure);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
}
header nav .left a:hover{
    color: var(--primary);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
header nav{
    padding: 2rem 0;
}
header nav .branding{
    margin: 3rem;
}
.hero{
    padding: 3rem 0;
}
.hero .left img{
    width: 400px;
}
.hero .right{
    color: var(--pure);
}
.hero .right h1{
    font-size: 4rem;
    font-weight: 100;
}
.hero .right h1 span{
    color: var(--primary);
}

.hero .right p{
    line-height: 1.9;
    margin-bottom: 2rem;
}
.hero .right{
    margin-top: -7rem;
}

section{
    padding: 6rem 0;
}
section.about .about-me-image{
    height: 450px;
}
section.about h1{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}
section.about h1 span{
    color: var(--primary);
}

section.about h3{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}
section.about p{
    font-family: 'Lato', sans-serif;
    color: var(--ternary);
    line-height: 1.9;
}
section.about .social{
    display: flex;
}
section.about .social img{
    height:39px;
    opacity:95%;
    margin-right: 0.6rem;
}
section.about .social img:hover{
    background: var(--primary);
    border-radius: 20px;
}
.section-heading{
    color: var(--secondary);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
    font-size: 2.5rem;
    font-family: aespa, aespawoff1, sans-serif;
    font-weight: 900;
}
.section-heading span{
    color: var(--primary);
}
.section-heading + p{
    text-align: center;
    color: var(--ternary);
    font-family: 'Lato', sans-serif;
    margin-bottom: 8rem;
}

section.services{
    background-color: var(--light);
}
section.services .card-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 6rem;
}
section.services .card-wrapper .card{
    background-color: var(--pure);
    padding: 3rem 2rem;
    padding-top: 5rem;
    position: relative;
    text-align: center;
    border-radius: 20px;
}

section.services .card-wrapper .card img{
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    justify-content: center;
}
section.services .card-wrapper .card h2{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
section.services .card-wrapper .card p{
    font-family: 'Lato', sans-serif;
    color: var(--ternary);
    line-height: 1.6;
}
section.services .card-wrapper .card:hover{
    background: var(--dark);
    transition: all .3s ease;

    box-shadow: 10px 10px 5px 0px rgba(184,184,162,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(184,184,162,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(184,184,162,0.75);
}
section.services .card-wrapper .card:hover h2{
    color: var(--pure);
}
section.services .card-wrapper .card:hover p{
    color: var(--pure);
}
section.services .card-wrapper .card:hover img{
    color: var(--pure);
    fill: var(--pure);
    background-color: var(--pure);
    border-radius: 1rem;
}
@font-face {
    font-family: aespa;
    src: url(./fontbase/aespaRegular.woff2);
}
@font-face {
    font-family: aespawoff1;
    src: url(./fontbase/aespaRegular.woff);
}

section.freelancer{
    text-align: center;
    background-image: url(./images/camera.png);
    background: linear-gradient(rgba(0.0.0.0.7),rgba(0.0.0.0.7));
    color: var(--pure);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 80%, 0 100%);
    padding-bottom: 14rem;
}

section.freelancer h1{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
section.freelancer p{
    margin-bottom: 2rem;
    font-family: 'Lato',sans-serif;
}

section.reviews .slider .slide img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 2rem;
}
section.reviews .slider .slide{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 10rem;
}
section.reviews .slider .slide p{
    font-family: 'Lato', sans-serif;
    color: var(--ternary);
    margin-bottom: 1rem;
}

section.reviews .slider .slide span{
    font-size: 0.8rem;
}
section.reviews .slider-dots .dots{
    list-style-type: none;
    display: flex!important;
    justify-content: center;
}
section.reviews .slider-dots{
    margin-top: 3rem;
}
section.reviews .slider-dots button{
    font-size: 0;
    width: 8px;
    height: 5px;
    margin-right: 0.3rem;
    border: none;
    outline: none;
    background: var(--ternary);
    border-radius: 50px;
    cursor: pointer;
}

section.reviews .dots li.slick-active button{
    background: var(--primary);
    width: 45px;
}

section.work{
    background: var(--light);
}
section.work .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
}
section.work .card-wrapper .card{
    position: relative;
    height: 250px;
}
section.work .card-wrapper .card .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(61, 207, 211, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--light);
    opacity: 0;
}
section.work .card-wrapper .card:hover .overlay{
    opacity: 1;
    transition: all .3s ease;
}

section.work .card-wrapper .card .overlay a{
    color: var(--secondary);
    text-decoration: none;
}
section.work .card-wrapper .card img{
    height: 100%;
    width: 100%;
}


section.blog{
    background: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 90%, 0 100%);
    padding-bottom: 12rem;
}
section.blog .section-heading{
    color: var(--pure);
}
section.blog .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
}
section.blog .card-wrapper .card{
    background: var(--pure);
}
section.blog .card-wrapper .card .img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section.blog .card-wrapper .card .card-content{
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
section.blog .card-wrapper .card .card-content h1{
    font-size: 1rem;
    font-weight: 600;
}
section.blog .card-wrapper .card .card-content a{
    color: var(--secondary);
    text-decoration: none;
}

section.blog .card-wrapper .card .card-content a:hover{
    color: var(--primary);
}
section.blog .card-wrapper .card .card-content span{
    color: var(--ternary);
    font-size: 0.8rem;
}
section.blog .card-wrapper .card .card-content p{
    font-family: 'Lato', sans-serif;
    color: var(--ternary);
    margin-top: 1rem;
    margin-bottom: 1rem;
}
section.blog .card-wrapper .card .card-content a.read-more{
    font-size: 0.9rem;
}

section.contact .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3rem;
}
section.contact .card-wrapper .card{
    text-align: center;
}
section.contact .card-wrapper .card img{
    margin-bottom: 3rem;
}
section.contact .card-wrapper .card h1{
    font-weight: 400;
    margin-bottom: 1rem;
}
section.contact .card-wrapper .card h6{
    font-size: 1rem;
    color: var(--ternary);
    font-weight: 400;
    margin-bottom: 4rem;
}

section.contact .input-wrap{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    margin-bottom: 2rem;
}
section.contact .input-wrap-2{
    display: flex;
    flex-direction: column;
}
section.contact .input-wrap-2 input{
    margin-bottom: 2rem;
}
section.contact input{
    padding: 0.5rem;
    border: 1px solid var(--light);
    font-size: 0.9rem;
}
section.contact .input-wrap-2 textarea{
    padding: 0.5rem;
    border: 1px solid var(--light);
    font-size: 0.9rem;
}
section.contact .input-wrap-2 textarea:focus, section.contact input:focus{
    outline: none;
}
section.contact .btn-wrapper{
    text-align: center;
    margin-top: 2rem;
}
footer{
    background: var(--dark);
    text-align: center;
    padding: 5rem 0;
}
footer .footer-logo{
    margin-bottom: 3rem;
}
footer .footer-socials a{
    margin-right: 1rem;
}
footer .footer-socials a img{
    width: 45px;
    height: 45px;
    object-fit: cover;
}
footer .footer-socials{
    margin-bottom: 1rem;
}
footer .copyright{
    color: var(--ternary);
}
footer{
    height:350px;
}
footer h2{
    color: var(--pure)!important;
}
.site-main-wrapper{
    position: relative;
}
.hamburger{
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 11;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
.hamburger img{
    width: 30px;
}
.mobile-nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background: var(--light);
    width: 100%;
    height: 100%;
    padding: 2rem;
    padding-top: 5rem;
    transform: translateX(-100%);
    transition: all .5s ease-in-out;
}

.open{
    transform: translateX(0);
}
.times{
    position: fixed;
    top: 30px;
    right: 30px;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}
.times img{
    width: 48px;
}
.mobile-nav ul{
    list-style-type: none;
}
.mobile-nav ul li a{
    color: var(--secondary);
    text-decoration: none;
    font-size: 2rem;
}

@media (max-width: 1024px){
    header #main-nav{
        display: none;
    }
    .hero .left img{
        width: 260px;
    }
    .hero .right h1{
        font-size: 3rem;
    }
    .hero{
        padding-top: 10rem;
    }
    header{
        clip-path: polygon(0 0, 100% 0, 100% 100%,27% 89%, 0 100%);
    }
    section.about .about-me-image{
        height: 304px;
    }
    section.services .card-wrapper{
        grid-template-columns: repeat(2,1fr);
    }
    section.work .card-wrapper{
        grid-template-columns: repeat(2,1fr);
    }
    section.blog .card-wrapper{
        grid-template-columns: repeat(1,1fr);
    }
    section.blog{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 97%, 0 100%);
    }
}

@media(max-width:576px){
    .hero{
        flex-direction: column;
    }
    header{
        clip-path: polygon(0 0, 100% 0, 100% 100%,69% 95%, 0 100%);
    }
    .hero .right{
        position: absolute;
        top: 260px;
        padding: 0 1rem;
        background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.9));
    }
    .hero left{
        margin-top: -5rem;
        margin-right: -9rem;
        padding-bottom: 50rem;
    }
    .hero .left img {
        width: 222px;
        object-fit: cover;
        height: 260px;
        margin-right: -17rem;
    }
    .about-inner-wrap{
        flex-direction: column;
    }
    .about .right{
        text-align: center;
        margin-top: 2rem;
    }
    .about .right .social {
        justify-content: center;
        margin-top: 1rem;
    }
    section{
        padding: 4rem 0;
    }
    section.services .card-wrapper {
        grid-template-columns: repeat(1,1fr);
    }
    section.freelancer{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 90%, 0 100%);
        padding-bottom: 8rem
    }
    section.reviews .slider .slide{
        padding: 0;
    }
    .section-heading + p{
        margin-bottom: 3rem;
    }
    section.work .card-wrapper {
        grid-template-columns: repeat(1,1fr);
    }
    section.contact .card-wrapper {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 3rem;
    }
    /* https://www.youtube.com/watch?v=EVrVlBEJ8jE at 29:33 */
}
